.breadcrumb-item-home {

    font-size: 14px;
    font-weight: 400;
    line-height: 22.4px;
    color: #737373 !important
}

.breadcrumb-item-active {

    font-size: 14px;
    font-weight: 600;
    line-height: 22.4px;
    /* text-align: left; */
    color: #29387E !important;

}

.breadcrumb {
    margin-top: 25px;
    /* padding-bottom: 40px; */
}

.Blog-btn {
    width: 114px;
    height: 38px;
    /* padding: 25px 52px 26px 52px; */
    gap: 10px;
    border-radius: 50px;
    background-color: #AEB4CE;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    margin-top: 40px;
    margin-bottom: 16px;
}

.Blog-h2-detaiels {
    color: #29387E !important;

    font-size: 40px;
    font-weight: 600;
    line-height: 64px;
    margin-bottom: 90px;
    width: 90%;
}

.col-imge-blog-detaiels {
    width: 1280px;
    height: 610px;

    border-radius: 16px;
    margin-bottom: 62px;

}

.col-imge-blog-detaiels img {
    width: 100%;
    height: 100%;

}

.p-imge-blog-detaiels {

    font-size: 18px;
    font-weight: 400;
    line-height: 28.8px;
    color: grey/600;

}

.p-div {
    margin-bottom: 82px;
    margin-top: 20px;
}

.p-text-detailes {
    color: #29387E !important;
    font-size: 28px;
    font-weight: 600;
    line-height: 44.8px;
    margin-bottom: 24px;
}

.ul-class {
    margin-bottom: 37px;
    margin-top: 20px;
    /* padding-left: 50px; */
}

.Wide_reach {
    color: #29387E !important;

    font-size: 20px;
    font-weight: 500;
    line-height: 32px;


}

.p-div-sm {
    margin-bottom: 28px;
}

.Back_top {
    width: 222px;
    height: 48px;
    cursor: pointer;

    border-radius: 8px;
    border: 1px solid #E4E6EE;
    background-color: #FFFFFF;

    font-size: 18px;
    font-weight: 500;
    line-height: 28.8px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #29387E !important;


}

.Back_top-div {
    display: flex;
    justify-content: center;
    margin-top: 115px;
    margin-bottom: 62px;
}

@media (max-width: 790px) {
    .Back_top-div {

        margin-top: 32px;
        margin-bottom: 32px;
    }

    .Back_top {
        width: 154px;
        height: 38px;


        font-size: 14px;
        font-weight: 500;
        line-height: 22.8px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #29387E !important;


    }

    .Wide_reach {
        color: #29387E !important;

        font-size: 16px;
        font-weight: 500;
        line-height: 25px;


    }

    .p-text-detailes {
        color: #29387E !important;
        font-size: 20px;
        font-weight: 600;
        line-height: 30.8px;

    }

    .p-div {
        margin-bottom: 33px;

    }

    .p-imge-blog-detaiels {

        font-size: 12px;
        font-weight: 400;
        line-height: 19.2px;


    }

    .breadcrumb-item-home,
    .breadcrumb-item-active {

        font-size: 12px;
        font-weight: 400;
        line-height: 19.4px;
        /* text-align: left; */


    }

    .Blog-btn {
        width: 78px;
        height: 24px;
        /* padding: 25px 52px 26px 52px; */
        gap: 10px;
        border-radius: 50px;
        background-color: #AEB4CE;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #FFFFFF;
        margin-top: 20px;
        margin-bottom: 8px;
        font-size: 12px;
        line-height: 19px;
        font-weight: 500;
    }

    .Blog-h2-detaiels {


        font-size: 28px;
        font-weight: 600;
        line-height: 44px;
        margin-bottom: 10px;
        width: 100%;
    }

    .col-imge-blog-detaiels {
        width: 343px;
        height: 203px;
        /* margin: 0px 10px 0px 10; */

    }
}