
   .contact {
      margin-top: 57px;
      margin-bottom: 77px;
   }

   .contact__header h2 {
      font-size: 48px;
      font-weight: 700;
      line-height: 76.8px;
      color: #29387E;
      margin-bottom: 37px
   }

   .contact .form-group .label {
      font-size: 16px;
      font-weight: 600;
      line-height: 25.6px;
      color: #29387E;
      margin-bottom: 10.67px;



   }

   .contact .form-group .input,
   .contact .form-group textarea {


      padding: 16px;
      border-radius: 8px;
      border: 1px solid #E4E6EE;
      background: var(--white-color);
      margin-bottom: 22px;

   }

   .contact .contact__btn {
      padding: 10px 30px 10px 30px;
      border-radius: 96px;
      border: 2px solid #29387E;
      color: #29387E;
      font-size: 18px;
      font-weight: 700;
      line-height: 28.8px;
      width: 100%;
      text-align: center;
      transition: 0.5s all;
   }
   .contact .contact__btn:hover{
      background: linear-gradient(45deg, #7e91e5,  #384fb3 ,#515e98 ) !important ;
      /* box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3) !important ; */
      /* transform: translateY(-5px) !important; */
      color: #fff !important;
      border: none !important;
      
  } 

   .contact .contact__header h2,
   .contact>.contact__content {
      width: 560px;


   }

   .contact .contact__top ul {
      gap: 25px;
   }

   .contact .contact__top li a {
      font-size: 24px;
      font-weight: 500;
      line-height: 38.4px;
      color: #29387E;
      gap: 16px;

   }

   .contact .contact__top li a i {}

   .contact__bottom img {
     
      height: 432.22px;


   }


   @media (max-width: 992px) {



      .contact {
         margin-top: 11px;
         margin-bottom: 74px;
      }

      .contact__header h2 {
         margin-bottom: 24px;
         font-size: 24px;
         font-weight: 600;
         line-height: 38.4px;


      }

      .contact .form-group .label {
         font-weight: 500;
      }




      .contact .contact__btn {

         padding: 10px 30px 10px 30px;

      }

      .contact .contact__header h2,
      .contact>.contact__content {
         width: 100%;
      }



      .contact .contact__top li:first-child{
         margin-top: 49px;
      }
   .contact .contact__top li a {
   
   
font-size: 20px;

line-height: 32px;



   }


   .contact__bottom img {
      margin-top: 49px;
 
   }

   }
