.error-img {
    margin-left: 8px!important;
    margin-right: 0 !important;
}

.remember-me {
 
    text-align: right !important;
 

}
.login-forget-password{
    text-align: left !important;

}
.form-group{
  
    text-align: right !important;
}
.reset-icon {
  margin-right: 0 !important;
    margin-left: 8px;
}

.login-container h1 {
    text-align: right !important;
}
