/* global style ---------- */
:root {
    /* --primary-color :#F7FBFE; */
    --primary-color: #edf1fe;
    --secondary-color: #29387e;
    --white-color: #fff;
    --links-color: #292929;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    scroll-behavior: smooth;
    font-family: 'Raleway', sans-serif;

    background: radial-gradient(circle at bottom left, rgb(255, 255, 255) 0%, rgb(215, 234, 251) 100%);
}


ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.rtl {
    direction: rtl !important;
    text-align: start !important;
}

.ltr {
    direction: ltr !important;
    text-align: start !important;
}

.active {
    color: var(--secondary-color) !important;
    font-size: 18px;
    font-weight: 700;
    line-height: 28.8px;
}

/*  ################################## navbar ###############################################  */
.navbar {
    background-color: var(--primary-color);
    color: var(--links-color);

}

.navbar .container-fluid {
    padding-left: 35px;
    padding-right: 35px;
}

.navbar .navbar-nav {
    width: 60%;
}

.navbar .nav-item {
    font-size: 18px;
    font-weight: 500;
    line-height: 28.8px;


}

.navbar .navbar-toggler,
.navbar .navbar-toggler:focus {
    border: none !important;
    border-radius: 0 !important;
    box-shadow: none !important;
}

.navbar .dropdown-menu {
    border-radius: 16px !important;
    background-color: var(--white-color);
    color: var(--links-color);
    border: none !important;
}

.navbar .dropdown-menu .dropdown-item:focus,
.navbar .dropdown-menu .dropdown-item:hover {
    background-color: #f1f1f1 !important;
}



.navbar .navbar-btn-subscribe {
    background: linear-gradient(90deg, #374ba8 5.25%, #2fb7f0 77.6%);


}

.navbar .navbar-btn {
    border-radius: 50px;
    color: var(--white-color);
    font-size: 16px;
    font-weight: 600;
    /* line-height: 25.6px; */
    text-align: center;
    padding: 12px 32px;
    min-width: 150px;
}

.navbar .navbar-btn-login {
    background-color: var(--white-color);
    color: #29387e;
    border: 2px solid linear-gradient(90deg, #374ba8 5.25%, #2fb7f0 77.6%);
    /* margin-right: 8px; */
    border: 2px solid #2b74cc;
    /* border-image: linear-gradient(to right, #00c6ff, #0072ff) 1; */

}


.navbar .action-btns {
    gap: 8px;
}

.navbar i {
    font-size: 22px;
    color: #29387E;
}

.dropdown-item {
    gap: 8px;
}

@media (max-width: 1300px) and (min-width: 992px) {
    .navbar .navbar-btn-subscribe {
        margin-left: 5px;
        margin-right: 5px;
    }


    .navbar .navbar-btn {
        font-size: 12px;
        padding: 6px 15px;
    }

    .navbar .nav-item {
        font-size: 15px;
        font-weight: 400;
        line-height: 20.8px;
    }

    .active {
        color: var(--secondary-color) !important;
        font-weight: 700;
    }
}

@media(min-width:992px) {

    .navbar .action-btns-desktop {
        display: block;
    }

    .navbar .action-btns-mobile {
        display: none !important;
    }
}

@media (max-width: 992px) {
    .navbar .container-fluid {
        padding-left: 10px;
        padding-right: 10px;
    }

    .navbar .navbar-btn {
        min-width: auto;
    }

    .navbar .navbar-nav {
        width: 100%;
    }

    .navbar .action-btns-mobile {
        display: block;
        justify-content: center;
    }

    .navbar .action-btns-desktop {
        display: none !important;
    }

    .navbar .action-btns-desktop {
        display: none;
    }

    .navbar .navbar-btn {
        margin-top: 24px;
        margin-bottom: 32px;
        font-size: 12px;
        font-weight: 600;
        line-height: 19.2px;
        padding: 5px 32px 5px 32px;
    }


    .navbar .nav-item {
        width: 100% !important;
        /* padding-left: 61px; */
    }

    .navbar .navbar-nav {
        /* flex-direction: column-reverse !important; */
        margin-inline-start: 10px !important;
        margin-inline-end: 10px !important;
    }

    .navbar .dropdown {
        width: 100% !important;
        padding: 0 !important;
    }

    .navbar .nav-item:not(.dropdown):hover,
    .navbar .nav-item:not(.dropdown):focus {
        background-color: #f1f1f1 !important;
    }

}


/*  ################################## hero###############################################  */
/*  ################################## hero###############################################  */
.hero {
    min-height: 27.938rem;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero .hero-content {
    padding-top: 2.5rem;
}

.hero .hero-content h1 {
    font-weight: 700;
    font-size: 60px;
    line-height: 96px;
    color: var(--white-color);
}

.hero .hero-content p {
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    color: var(--white-color);
    margin: 0.5rem 0 1.5rem 0;
}

.btn-work-with-us {
    background-color: var(--white-color);
    padding: 25px, 52px, 26px, 52px;
    border-radius: 3.125rem;
    width: auto !important;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    color: #2f2f2f;
}

@media (max-width: 768px) {
    .hero .hero-content h1 {
        font-size: 24px;
        line-height: 38.4px;
    }

    .hero .hero-content p {
        font-weight: 500;
        font-size: 12px;
        line-height: 19.2px;
    }
}

.hero-with-button {
    min-height: 38.888888888888886vh;
}

.hero-without-button {
    min-height: 34.552845528455286vh;
}

.btn-work-with-us {
    font-size: 1.25rem !important;
    font-weight: 600 !important;
    line-height: 2rem;
    margin-top: 10px;
    color: #2f2f2f !important;
    background-color: #ffffff !important;
    border-radius: 50px !important;
    padding: 10px 50px !important;
    width: auto !important;
    margin-bottom: 1rem;

}





/*  ################################## footer###############################################  */

.footer {
    padding: 42px 0 12px 0;
    background-color: var(--white-color);
}

.footer .left-content p {
    font-size: 14px;
    font-weight: 600;
    line-height: 16.44px;
    letter-spacing: 3px;
}

.footer .social-icons {
    width: 19.875rem;
}

.footer .social-icons i {
    border-radius: 22.5px;
    padding: 10px;
    color: var(--secondary-color);
    background-color: var(--primary-color);
}

.footer .footer-links li {
    margin-bottom: 10px;
}

.footer .footer-links li a {
    font-size: 14px;
    line-height: 22px;
    color: var(--links-color);
    font-weight: 600;
}

.footer .footer-links li:first-child a {
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
}

.footer .contact-icons i {
    width: 13.5px;
    height: 15.73px;
    top: 1.13px;
    /* margin-right: 16px; */
    color: #3a3a3a;
}

.footer .copyright {
    font-size: 14px;
    font-weight: 400;
    line-height: 22.4px;
    color: #29387e !important;
    margin-top: 11px;
}

.footer .copyright img {
    width: 94px;
    margin: 0 8px;


}

@media (max-width: 768px) {
    .footer .social-icons {
        width: 100%;
    }




    .footer .footer-links li a {
        font-size: 14px;
        font-weight: 500;
        line-height: 22.4px;
    }

    .footer .footer-links li:first-child a {
        font-size: 16px;
        font-weight: 700;
        line-height: 25.6px;
    }




}


/*  ################################## wrapper###############################################  */
.wrapper {
    margin-top: 7rem;
}

.wrapper .wrapper-content h2 {
    font-weight: 600;
    font-size: 40px;
    line-height: 64px;
    color: var(--secondary-color);


}

.wrapper .wrapper-content p {
    font-weight: 500;
    font-size: 24px;
    line-height: 38.4px;
    color: #3A3A3A;
}

@media (max-width:1200px) {
    .wrapper {
        margin-top: 3rem;
    }
    .wrapper .wrapper-content h2 {
        font-size: 24px;
        line-height: 38.4px;
    }

    .wrapper .wrapper-content p {
        font-size: 12px;
        line-height: 19.2px;
    }
}

/*  ################################## Head-3###############################################  */
.hero-image-header-up {
    color: var(--white-color);
    min-height: 27.938rem;
    padding: 40px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../images/faq/background-img.svg');
}

.hero-image-header-up h1 {
    font-size: 60px;
    font-weight: 700;
    line-height: 96px;
    text-align: center;
}

.hero-image-header-up p {
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;
    text-align: center;
}

.hero-image-header-down {
    text-align: center;
    /* Center the image horizontally */
}



.hero-image-header-down img {
    margin-top: -100px;
    /* Adjust this value to fit your design needs */
    max-width: 100%;
    /* Ensure the image doesn't overflow */
    height: auto;
    /* Maintain aspect ratio */
}

.hero-image-header-down img {
    max-width: 75%;
}


@media (max-width:1200px) {
    .hero-image-header-up h1 {
        font-size: 24px;
        line-height: 38.4px;
    }

    .hero-image-header-up p {
        font-size: 12px;
        font-weight: 500;
        line-height: 19.2px;
    }

    .hero-image-header-up {
        min-height: 250px
    }

    .hero-image-header-down img {
        margin-top: -40px;
    }

    .btn-work-with-us {
        font-size: 12px;
        font-weight: 500;
        line-height: 19.2px;
        padding: 25px 52px 26px 52px;
        gap: 10px;
        border-radius: 50px ;


    }
}

@media (max-width: 768px) {
    .btn-work-with-us {
        padding: 15px 32px 16px 32px !important;
    }
}