


.planing .planning-bottom ul li span {
    margin-right: 14px !important;
    margin-left: 0 !important;
}
/* .planing .popular-plan{
    text-align: end !important;
} */
.planing .planing-img {
 
    margin-left: 17.5px;
    margin-right: 0 !important;

  
}